@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Inter:wght@400;500&family=Kanit:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", sans-serif;
  font-weight: 700;
  background-color: #130125;
  color: white;
}

h1 {
  font-size: 60px;
  margin: 0;
}

p {
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vw;
  width: 90%;
  margin: 0 auto;
}

.hero {
  border-top: 1px solid #ffffff33;
  border-bottom: 1px solid #ffffff33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  margin: 0 auto;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.button {
  padding: 16px 24px;
  gap: 10px;
  background: #fd5a14;
  border-radius: 2px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.border-bottom {
  border-bottom: 1px solid #ffffff33;
}

.about-me {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.experience {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.projects-page {
  height: 180vh;
  width: 90%;
  margin: 0 auto;
}

.contacts {
  height: 90vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 32px;
}

.footer {
  height: 10vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  font-size: 15px;
}
